<%- model_class = Clinic -%>
<%= content_for(:title, @clinic.full_name) %>
<div class="page-header">
  <div class="row">
    <div class="span2">
      <h4><%= @clinic.full_name %></h4>
    </div>
    <div class="span7">
      <h4><%= @clinic.specialty %></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="span2">
    <table class="table table-condensed">
      <tr>
        <td> <%= image_tag @clinic.photourl %></td>
      </tr>
      <tr>
        <td>
          <%= rating_box(@clinic.rating) %>
        </td>
      </tr>
      <tr>
        <td><span id="<%= @clinic.id %>"><%= render partial: 'likes/like_block', locals: {likeable: @clinic} %></span>
        </td>
      </tr>
      <tr>
        <td>
          <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
          <div class="yashare-auto-init" data-yashareL10n="ru"
               data-yashareType="none"
               data-yashareQuickServices="facebook,vkontakte,twitter,gplus,odnoklassniki"
               data-yashareDescription='Советуем клинику!'>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="span7">
    <dl class="dl-horizontal pull-left">
      <% if @clinic.starting_work.present? %>
        <dt><strong><%= model_class.human_attribute_name(:starting_work) %>:</strong></dt>
        <dd><%= @clinic.starting_work %></dd>
      <% end %>

      <% if @clinic.awards.present? %>
        <dt><strong><%= model_class.human_attribute_name(:awards) %>:</strong></dt>
        <dd><%= @clinic.awards %></dd>
      <% end %>

      <% if @clinic.visit_home.present? %>
        <dt><strong><%= model_class.human_attribute_name(:visit_home) %>:</strong></dt>
        <dd><%= @clinic.visit_home ? 'Да' : 'Нет' %></dd>
      <% end %>

      <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
      <dd><%= @clinic.price %></dd>

      <% if @clinic.description.present? %>
        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= @clinic.description %></dd>
      <% end %>

      <% @clinic.addresses.each do |address| %>
        <dt><strong>Адрес:</strong></dt>
        <dd><%= address.city_address %> <%= address.street_address %></dd>
      <% end %>
    </dl>
  </div>
</div>
<div class="row">
  <% if user_signed_in? %>
    <% if @clinic.can_user_comment?(current_user.id) %>
      <h4>Добавить <%= link_to("комментарий", '#new_comment_window', data: {toggle: "modal"}) %></h4>
    <% end %>
  <% else %>
    <h5>Только зарегистрированные пользователи могут оставлять комментарии.</h5>
    <%= render :partial => 'layouts/auth_links' %>
  <% end %>
</div>
<div class="row">
  <h3>Комментарии</h3>
</div>
<div class="row">
  <%= render @comments %>
</div>

<nav class="pagination">
  <%= paginate @comments %>
</nav>

<div id="new_comment_window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Оставьте пожалуйста свой комментарий</h4>
  </div>
  <%= render partial: 'comments/form', locals: {commentable: @clinic} if user_signed_in? %>
</div>

<% if can? :edit, @clinic %>
  <div class="form-actions">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_clinic_path(@clinic), :class => 'btn' %>
  </div>
<% end %>
