<% @comments.each do |comment| %>
  <tr>
    <td><%= link_to comment.id, admin_comment_path(comment) %></td>
    <td><%= comment.user.full_name %></td>
    <td><%= truncate(comment.message, length: 50, separator: ' ') %></td>
    <td><%= comment.commentable.full_name %></td>
    <td><%= comment.rating %></td>
    <td><%= comment.published %></td>
    <td>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_admin_comment_path(comment), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  admin_comment_path(comment),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>