<tr class="fields">
  <td>
    <%= f.input :zip_code %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :district %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :phone_number %>
    <%= f.input :mobile_phone_number %>
    <%= f.input :website_url %>
    <%= f.input :email %>
  </td>
  <td style="width:100px;">
    <%= f.link_to_remove t("helpers.links.remove"), :class => 'btn btn-danger' %>
  </td>
</tr>
