<% @doctors.each do |doctor| %>
  <tr class="item">
    <td><%= link_to doctor.id, doctor_path(doctor) %></td>
    <td><%= doctor.full_name %></td>
    <td><%= doctor.status %></td>
    <td><%= doctor.user_id %></td>
    <td><%= doctor.published %></td>
    <td><%= doctor.rating %></td>
    <td><%=l doctor.created_at %></td>
    <td>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_admin_doctor_path(doctor), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  admin_doctor_path(doctor),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>