<%- model_class = Content -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= simple_form_for [:admin, :page, @content], :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.association :page %>
  <%= f.input :name %>
  <%= f.input :announce %>
  <%= f.input_field :body, id: 'editor', rows: '20', class: 'span8' %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_pages_path, :class => 'btn' %>
  </div>
<% end %>
