<%= simple_form_for @doctor, :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :specialty %>
  <%= f.input :education %>
  <%= f.input :starting_work, as: :string, input_html: {class: 'datepicker', value: @doctor.high_school_finished} %>
  <%= f.input :high_school_name %>
  <%= f.input :high_school_finished, as: :string, input_html: {class: 'datepicker', value: @doctor.starting_work} %>
  <%= f.input :awards %>
  <%= f.input :visit_home %>
  <%= f.input :price %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
  </div>
<% end %>
