<%- model_class = Doctor -%>
<%= content_for(:title, @doctor.full_name) %>
<div class="page-header">
  <div class="row">
    <div class="span2">
      <h4><%= @doctor.full_name %></h4>
    </div>
    <div class="span7">
      <h4><%= @doctor.specialty %></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="span2">
    <table class="table table-condensed">
      <tr>
        <td> <%= image_tag @doctor.photourl %></td>
      </tr>
      <tr>
        <td>
          <%= rating_box(@doctor.rating) %>
        </td>
      </tr>
      <tr>
        <td><span id="<%= @doctor.id %>"><%= render partial: 'likes/like_block', locals: {likeable: @doctor} %></span>
        </td>
      </tr>
      <tr>
        <td>
          <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
          <div class="yashare-auto-init" data-yashareL10n="ru"
               data-yashareType="none"
               data-yashareQuickServices="facebook,vkontakte,twitter,gplus,odnoklassniki"
               data-yashareDescription='Советуем доктора!'>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="span7">
    <dl class="dl-horizontal pull-left">
      <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
      <dd><%= @doctor.addresses.first.city %></dd>

      <dt><strong><%= model_class.human_attribute_name(:stage) %>:</strong></dt>
      <dd><%= distance_of_time_in_words(Date.today, @doctor.starting_work) rescue '-' %></dd>

      <% if @doctor.education.present? %>
        <dt><strong><%= model_class.human_attribute_name(:education) %>:</strong></dt>
        <dd><%= @doctor.education %></dd>
      <% end %>
      <% if @doctor.high_school_name.present? %>
        <dt><strong><%= model_class.human_attribute_name(:high_school_name) %>:</strong></dt>
        <dd><%= @doctor.high_school_name %></dd>
      <% end %>
      <% if @doctor.awards.present? %>
        <dt><strong><%= model_class.human_attribute_name(:awards) %>:</strong></dt>
        <dd><%= @doctor.awards %></dd>
      <% end %>
      <% if @doctor.visit_home.present? %>
        <dt><strong><%= model_class.human_attribute_name(:visit_home) %>:</strong></dt>
        <dd><%= @doctor.visit_home ? 'Да' : 'Нет' %></dd>
      <% end %>
      <% if @doctor.price.present? %>
        <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
        <dd><%= @doctor.price %></dd>
      <% end %>
      <% if @doctor.gender.present? %>
        <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
        <dd><%= @doctor.gender %></dd>
      <% end %>
      <% if @doctor.price.present? %>
        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <% end %>
      <% if @doctor.description.present? %>
        <dd><%= @doctor.description %></dd>
      <% end %>
      <% @doctor.addresses.each do |address| %>
        <dt><strong>Адрес:</strong></dt>
        <dd><%= address.city_address %> <%= address.street_address %></dd>
      <% end %>
    </dl>
  </div>
</div>
<div class="row">
  <% if user_signed_in? %>
    <% if @doctor.can_user_comment?(current_user.id) %>
      <h4>Добавить <%= link_to("комментарий", '#new_comment_window', data: {toggle: "modal"}) %></h4>
    <% end %>
  <% else %>
    <h5>Только зарегистрированные пользователи могут оставлять комментарии.</h5>
    <%= render :partial => 'layouts/auth_links' %>
  <% end %>
</div>
<div class="row">
  <h3>Комментарии</h3>
</div>
<div class="row">
  <%= render @comments %>
</div>

<nav class="pagination">
  <%= paginate @comments %>
</nav>

<div id="new_comment_window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Оставьте пожалуйста свой комментарий</h4>
  </div>
  <%= render partial: 'comments/form', locals: {commentable: @doctor} if user_signed_in? %>
</div>

<% if can? :edit, @doctor %>
  <div class="form-actions">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_doctor_path(@doctor), :class => 'btn' %>
  </div>
<% end %>
