<%- model_class = Clinic -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(count: 2).titleize %></h1>
  <%= search_form_for [:admin, @q], class: 'form-search' do |f| %>
     <%= f.text_field :full_name_cont, class: 'search-query', placeholder: 'поиск по названию' %>
    <%= f.button 'Найти', :class => 'btn search-query' %>
  <% end %>
</div>
<table id="citems" class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:full_name) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:published) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:starting_work) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody class="page">
    <%= render :partial => 'result' %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_clinic_path,
            :class => 'btn btn-primary' %>

<nav class="pagination" style="display: none;">
<%= paginate @clinics, remote: true %>
</nav>
