<div class="row-fluid">

<% @items.each_slice(4) do |slice| %>
  <div class="item row-fluid">
    <ul class="thumbnails">
      <% slice.each do |item| %>
        <li class="span3">
          <%= link_to image_tag(item.photos.try(:first).url(:thumb)), polymorphic_path(item) rescue nil %>
          <table class="table table-condensed">
            <tr>
              <td><%= rating_box(item.rating) %></td>
            </tr>
            <tr>
              <td><span id="<%= item.id %>"><%= render partial: 'likes/like_block', locals: {likeable: item} %></span></td>
            </tr>
            <tr>
              <td><%= link_to item.full_name, polymorphic_path(item) %></td>
            </tr>
            <tr>
              <td><%= item.categories.first.name %></td>
            </tr>
            <tr>
              <td><%= item.addresses.first.city %></td>
            </tr>
          </table>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
