<div class="page-header">
  <div class="row">
    <h3><%= simple_format @top, {}, wrapper_tag: 'div' %></h3>
  </div>
  <div class="offset5 span2">
    <%= button_to 'Рекомендовать специалиста!', new_advise_path, method: :get, class: 'btn btn-warning btn-large' %>
  </div>
</div>
<div class="row-fluid">
  <%= simple_format @left_column, {class: 'marketing span4 align_justify'}, wrapper_tag: "div" %>
  <%= simple_format @center_column, {class: 'marketing span4 align_justify'}, wrapper_tag: "div" %>
  <%= simple_format @right_column, {class: 'marketing span4 align_justify'}, wrapper_tag: "div" %>
</div>
<p></p>
<%# cache @category do %>
<div class="row-fluid">
  <%= render :partial => 'items' %>
</div>
<%# end %>

<div class="row-fluid">
  <% @ad_squares.each_slice(3) do |slice| %>
    <% slice.each do |ad| %>
      <div class="span4">
        <%= link_to image_tag(ad.url), ad.baseurl %>
      </div>
    <% end %>
  <% end %>
</div>
