<div class="page-header">
  <h3><%= Faker::Lorem.paragraph %></h3>
</div>

<% cache @category do %>
  <div class="row-fluid">
    <%= render :partial => 'items' %>
  </div>
<% end %>
<div class="row-fluid">
  <div class="span4">
    <p>
      <%= Faker::Lorem.paragraphs(2) %>
    </p>
  </div>
  <div class="span4">
    <p>
      <%= Faker::Lorem.paragraphs(2) %>
    </p>
  </div>
  <div class="span4">
    <p>
      <%= Faker::Lorem.paragraphs(2) %>
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <%= link_to image_tag('ad250.png'), root_path %>
  </div>
  <div class="span4">
    <%= link_to image_tag('ad250.png'), root_path %>
  </div>
  <div class="span4">
    <%= link_to image_tag('ad250.png'), root_path %>
  </div>
</div>
