<div class="page-header">
  <h3><%= Faker::Lorem.paragraph %></h3>
</div>

<% cache @category do %>
  <div class="row-fluid">
    <%= render :partial => 'items' %>
  </div>
<% end %>
<div>
  <p>
    <%= Faker::Lorem.paragraphs(10) %>
  </p>

  <p>
    <%= Faker::Lorem.paragraphs(5) %>
  </p>

  <p>
    <%= Faker::Lorem.paragraphs(10) %>
  </p>

  <p>
    <%= Faker::Lorem.paragraphs(5) %>
  </p>
</div>
