<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <%= link_to 'Советчик', root_path, class: 'brand' %>

    <div class="container nav-collapse">
      <ul class="nav">
        <li><%= link_to "Меню", '#' %></li>
        <li><%= link_to 'Меню', '#' %></li>
        <%= render partial: 'layouts/search' %>
      </ul>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li class="icon">
            <%= link_to '', edit_user_path(current_user), class: 'icon icon-pencil', title: 'Редактировать учетную запись' %>
          </li>
          <% if current_user.manager? %>
            <li class="icon">
              <%= link_to '', user_path(current_user), class: "icon-user", title: 'Менеджер' %>
            </li>
          <% end %>
          <li class="icon">
            <%= link_to '', destroy_user_session_path, :method => :delete, class: "icon-off", title: 'Выйти' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Войти', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
