<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <%= link_to 'Советчик', root_path, class: 'brand' %>

    <div class="container nav-collapse">
      <ul class="nav">
        <li><%= link_to "Рекомендовать", new_advise_path %></li>
        <li><%= link_to 'Фильтр', '#', data: {toggle: "collapse", target: "#advanced-search"} %></li>
        <%= render partial: 'layouts/search' %>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Войти', new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
