<%= simple_form_for :search, url: results_path, html: {method: :get, class: 'navbar-search'} do |f| %>
  <%= f.input_field :query, class: "search-query input-xlarge", placeholder: "фамилия, название, специальность" %>
  <%= f.input_field :location, class: "search-query input-xlarge", placeholder: "город, район, улица" %>
  <%= link_to '', '#', class: "btn btn-small icon-filter", data: {toggle: "collapse", target: "#advanced-search"} %></li>

  <%= button_tag '', class: "btn btn-small icon-search" %>
  <div id="advanced-search" class="collapse out row-fluid">
    <div class="span3">
      <div>детские</div>
      <div class="switch switch-small" data-on-label="да" data-off-label="нет">
        <%= check_box_tag 'children' %>
      </div>
    </div>
    <div class="span3">
      <div>взрослые</div>
      <div class="switch switch-small" data-on-label="да" data-off-label="нет">
        <%= check_box_tag 'adult' %>
      </div>
    </div>
    <div class="span3">
      <div>клиника</div>
      <div class="switch switch-small" data-on-label="да" data-off-label="нет">
        <%= check_box_tag 'clinic' %>
      </div>
    </div>
    <div class="span3">
      <div>доктор</div>
      <div class="switch switch-small" data-on-label="да" data-off-label="нет">
        <%= check_box_tag 'doctor' %>
      </div>
    </div>
  </div>
<% end %>
